@import '../../styles//colors.scss';

.container {
  background-color: $white;
}

.tracks {
  background-color: $gray;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 5rem;
}

.track {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0rem;
  }

  &:hover {
    background-color: $gray_dark;
  }
}
