@import '../../styles//colors.scss';

.container {
  background-color: $white;
}

.tracks {
  min-height: calc(100vh - 17rem);
  background-color: $gray;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 5rem;

  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.track {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0rem;
  }

  &:hover {
    background-color: $gray_dark;
  }
}

.loader {
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
