@import '../../styles/colors.scss';

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &:hover {
    & .progressbar {
      height: 1rem;
    }
    & .current,
    .duration {
      display: block;
    }
  }
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $white;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.25rem;
  background-color: $gray_dark;
  cursor: pointer;
  transition: height 0.2s;
}

.progress {
  position: absolute;
  background-color: $yellow;
  height: 100%;

  &.active {
    transition-property: width;
    transition-timing-function: linear;
    transition-duration: 1s;
  }
}

.current {
  display: none;
  margin-left: 1rem;
  z-index: 1;
}

.duration {
  display: none;
  margin-right: 1rem;
  z-index: 1;
}

.sound {
  margin-right: 4rem;
}

.button {
  margin-right: 1rem;

  &:active {
    transform: translateY(2px);
  }
}

.volume {
  position: absolute;
  bottom: 4rem;
  height: 5rem;
  background-color: $gray_dark;
  padding-bottom: 1rem;
  border-radius: 1rem;
}
