@import '../../styles//colors.scss';

.container {
  background-color: $gray;
  padding: 1rem;
  height: calc(100vh - 11rem);
}

.head {
  display: flex;
  justify-content: center;
}

.body {
  display: flex;
}

.left {
  margin-right: 0.5rem;
}

.right {
  width: 100%;
  margin-left: 0.5rem;
}

.input {
  margin-bottom: 1rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.buttonRemoveImage {
  margin-top: 1rem;
}
